// Albums

.albums__aside
  width: 25%
  display: inline-block

.albums__nav
  background-color: rgb(50, 50, 50)
  padding-top: 5rem
  padding-bottom: 5rem

.albums__nav--link
  background-color: white
  display: block
  text-decoration: none
  padding: 1rem
  margin: 0 auto
  margin-bottom: 2rem
  text-align: center
  width: 90%

.albums__nav--link:active
  background-color: rgb(220, 220, 220)
  color: black
